*{
	margin: 0;
	padding: 0;
}

body{
	background: #C0BFBCFF;
}

header{
	color: white;
	background: black;
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

.Logo, .Top_menu{
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;
}
.Top_menu li{
	margin-right: 25px;
	display: inline-block;
}

.Top_menu a{
	font-family: arial;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.Top_menu a:hover{
	color: #99C1F1FF;
}

.title{
	color: #3584E4FF;
	text-align: center;
}

.tickets{
	text-decoration: none;
}

.tickets_lst{
	display: flex;
	flex-direction: column;
	width: 50%;

}

.tickets_lst li{
	height: fit-content;
	width: fit-content;
}

.add_ticket{
	display: flex;
	justify-content: right;
}