{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static  'tickets/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="root">
    <div class="head">menu</div>
    <ol>
        <li><a href="#"><i></i>homepage</a></li>
        <li><a href="#"><i></i>tickets</a></li>
        <li><a href="#"><i></i>about</a></li>
    </ol>


<header>
    <nav class="dws-menu">
        <ul>
            <li><a href="#"><i>status</i></li></a>
                <ul>
                    <li><a href="#">Open</a></li>
                    <li><a href="#">In progress</a></li>
                    <li><a href="#">Waiting for vendor</a></li>
                    <li><a href="#">Waiting for client</a></li>
                    <li><a href="#">Closed</a></li>
                </ul>
            <li><a href="#"><i>user</i></li></a>
            <li><a href="#"><i>aaa</i></li></a>
            <li><a href="#"><i>bbb</i></li></a>
        </ul>
    </nav>
</header>

</body>
</html>