{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/style.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        {% for m in status_menu%}
        <li>{{m}}</li>
        {% endfor %}
    </ul>
    <section>
        <select class="cs-select cs-skin-rotate">
            <option value="1">Open</option>
            <option value="2">In progress</option>
            <option value="3">Waiting for client</option>
            <option value="4">Waiting for vendor</option>
            <option value="5">Closed</option>
        </select>
        <select class="cs-select cs-skin-rotate">
            <option value="1">Open</option>
            <option value="2">In progress</option>
            <option value="3">Waiting for client</option>
            <option value="4">Waiting for vendor</option>
            <option value="5">Closed</option>
        </select>
        <select class="cs-select cs-skin-rotate">
            <option value="1">Open</option>
            <option value="2">In progress</option>
            <option value="3">Waiting for client</option>
            <option value="4">Waiting for vendor</option>
            <option value="5">Closed</option>
        </select>
    </section>



</body>
</html>