{% extends 'tickets/base.html' %}

{% block content %}
<div class="container-register-login">
  <h1 class="title-acc-register-login"> {{ title }} </h1>
  <form method="post">
  {% csrf_token %}
  <div class="inputs">
    {% for f in form %}
    <p><label class = "register-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
  </div>
  <button type="submit" class="register-login-button">Регистрация</button>
</form>
</div>
{% endblock %}
