{% extends 'tickets/base.html' %}
{% block content %}
{% if slug %}
	<h1 class="display_ticket">Тикет № {{slug}}</h1>
{% else %}
	<h1 class="display_ticket">Тикет № {{id}}</h1>
{%endif%}
<h2 class="display_ticket">{{title}}</h2>

<!--Форма для ввода-->
<!--<p><label class="form-message-label" for=" {{ form_message.content.id_for_label }}">{{ form_message.content.label }}</label> {{ form_message.content }}</p>-->
<!--<div class="form-error">{{ form_message.errors }}</div>-->
<!--Форма для ввода-->



{% for m in messages %}
		<li>{{m.content}}</li>
{% endfor %}

{% endblock %}